body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
}

canvas {
  display: block;
}

h1 {
  display: block;
  position: absolute;
  font-size: 150px;
  top: 30vh;
  border: 10px solid black;
  margin: 0;
  padding: 0 25px;
}

p {
  position: absolute;
  bottom: 65px;
  left: 45px;
  font-weight: bold;
}

audio {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 250px;
}

audio:focus {
  outline: none;
}
